# dependencies
node_modules/

# env
.env
.env.*

# build output
dist/
build/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS / IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~

# temp/cache
temp/
tmp/
.cache/
coverage/
